
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    
    @await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")

</head>

<body>

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>

    <div id="main-wrapper">


        @await Html.PartialAsync("/Views/AdminLayout/NavheaderPartial.cshtml")



        @await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")


        @await Html.PartialAsync("/Views/AdminLayout/SidebarPartial.cshtml")

        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <p>@RenderBody()</p>
                                <br />
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        
        @await Html.PartialAsync("/Views/AdminLayout/FooterPartial.cshtml")

    </div>

    @await Html.PartialAsync("/Views/AdminLayout/ScriptPartial.cshtml")
    

</body>

</html>
