<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Stock/Index/">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Stok Listesi</span>
                </a>
            </li>
            <li>
                <a href="/StockType/Index/">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Stok Türü</span>
                </a>
            </li>
            <li>
                <a href="/StockUnit/Index/">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Stok Birim</span>
                </a>
            </li>
        </ul>
    </div>
</div>
